#topbar-wrapper {
    padding-bottom: 20px;
}

#topbar-wrapper a {
    font-family: 'Varela Round';
    font-size: 18px;
    margin-right: 10px;
    width: 100px;
    height: 36px;
    line-height: 22px;
    letter-spacing: 1px;
}

.canvas-section {
    margin-bottom: 20px;
}