#topbar-wrapper {
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    padding: 5px;
}

#topbar-wrapper a {
    font-family: 'Varela Round';
    font-size: 18px;
    margin-right: 10px;
    width: 100px;
    height: 36px;
    line-height: 22px;
    letter-spacing: 1px;
}

.topbar-btn {
    background: #4d6d9a;
    border-color: #4d6d9a;
}

.topbar-btn:hover {
    background: #99CED3;
    border-color: #99CED3;
}

#canvas-diagram {
    background: #ffffff;
    height: 270px;
}

#canvas-warehouse {
    background: #99CED3;
    height: 210px;
}

#canvas-palette {
    background: #4d6d9a;
    border-radius: 0 0 5px 5px;
    height: 225px;
}