<!DOCTYPE html>
<html>
    
    <head>
        {% load static %}
        <!-- Bootstrap core CSS -->
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <!-- <link href="{% static "canvas/css/simple-sidebar.css" %}" rel="stylesheet"> -->
        <!-- Custom styles for this view -->
        <link href="{% static "canvas/css/canvas.css" %}" rel="stylesheet">
        <link href="{% static "canvas/css/code.css" %}" rel="stylesheet">
        <link href="{% static "canvas/css/prism.css" %}" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="{%static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.12/go.js"></script>
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <!-- GoJS core JavaScript -->
        <script src="{% static "canvas/js/go-debug.js" %}"></script>
        <!-- GoJS script for testing -->
        <script src="https://gojs.net/latest/extensions/Robot.js"></script>
        <!-- Custom scripts for this view -->
        <script src="{% static "canvas/js/canvas.js" %}"></script>
        <script src="{% static "canvas/js/compile.js" %}"></script>
        <script src="{% static "canvas/js/prism.js" %}"></script>
		<script src="{% static "canvas/js/save.js" %}"></script>
        <script src="{% static "canvas/js/open.js" %}"></script>
        <script src="{% static "canvas/js/export.js" %}"></script>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <!-- Top Bar -->
                <div id="topbar-wrapper" class="col-md-12">
                    <a href="{% url 'canvas:index' %}" class="topbar-logo btn btn-secondary" id="topbar-brand">LrnDeep</a>
                    <a href="#" class="topbar-btn btn btn-secondary" id="topbar-new">New</a>
					<button type="button" class="topbar-btn btn btn-secondary" id="topbar-open" method="POST" action_list={% url 'canvas:graph_list' %} action_graph={% url 'canvas:load' %}>Open</button>
                    <a href="#compile-diagram" class="topbar-btn btn btn-secondary" id="topbar-compile">Compile</a>
					<button type="button" class="topbar-btn btn btn-secondary" id="topbar-save" method="POST" action={% url 'canvas:save' %}>Save</button>
                    <a href="#" class="topbar-btn btn btn-secondary" id="topbar-export">Export</a>
                    <a href="#" class="topbar-btn btn btn-secondary" id="topbar-help">Help</a>
                    <a href="{% url 'users:logout' %}" class="topbar-btn btn btn-secondary" id="topbar-logout">Logout</a>
                </div> <!-- /#topbar-wrapper -->
            </div>
            <div class="row" id="wrapper">
                <!-- Canvas -->
                <div id="canvas-wrapper" class="col-md-7">
                    <div id="canvas">
                        <div id="canvas-diagram" class="canvas-section"></div>
                        <!-- <div id="canvas-warehouse" class="canvas-section"></div> -->
                        <div id="canvas-palette" class="canvas-section"></div>
                    </div>
                </div> <!-- /#canvas-wrapper -->
                <!-- Code -->
                <div id="code-wrapper" class="col-md-5">
                    <div id="code">
                        <pre><code id="generated-code" class="language-python">"""The Deep Learning [default] model, powered by LrnDeep"""</code></pre>
                    </div>
                </div> <!-- /#code-wrapper -->
            </div>
        </div>
    
        <!-- Top Bar Button Scripts -->
        <script>
            $("#topbar-compile").click(function(e) {
                e.preventDefault();
                diagramNodes = diagram.model.nodeDataArray;
                // console.log(diagramNodes);
                var network = [];
                for (i = 0; i < diagramNodes.length; i++) {
                    node_name = diagramNodes[i]["category"];
                    if (node_name == "cnn") {
                        network.push({
                            "name": "CNN", 
                            "kernel_size": [diagramNodes[i]["kernel_size"], diagramNodes[i]["kernel_size"]], 
                            "out_channels": diagramNodes[i]["out_channels"]
                        });
                    } else if (node_name == "maxpool") {
                        network.push({
                            "name": "MaxPooling2D", 
                            "pool_size": [diagramNodes[i]["pool_size"], diagramNodes[i]["pool_size"]]
                        });
                    } else if (node_name == "lstm") {
                        network.push({
                            "name": "LSTM", 
                            "state_size": diagramNodes[i]["state_size"],
                            "bi-directional": diagramNodes[i]["bi-directional"]
                        });
                    } else if (node_name == "fc") {
                        network.push({
                            "name": "FC", 
                            "output_shape": diagramNodes[i]["output_size"]
                        });
                    } else if (node_name == "res") {
                        network.push({
                            "name": "residual", 
                            "prev_layer": diagramNodes[i]["prev_layer"]
                    });
                    } else if (node_name == "batch") {
                        network.push({
                            "name": "batch_norm"
                        });
                    } else if (node_name == "act") {
                        network.push({
                            "name": "activation", 
                            "type": diagramNodes[i]["type"]
                        });
                    }
                }
                // console.log(network);
                var net_name = prompt("Enter a name for your network: ");
                if (net_name == null || net_name == "") {
                    net_name = "Default Network";
                }
                var dataset = prompt("Dataset? Enter mnist/cifar10/imdb: ", "mnist");
                if (dataset == null || (dataset != "mnist" && dataset != "cifar10" && dataset != "imdb")) {
                    alert("Invalid dataset! Compilation terminated.");
                } else {
                    var net_config = {
                        "name": net_name,
                        "dataset": dataset
                    }
                    generatedCode = compile(network, net_config);
                    // console.log(network, net_config);
                    // Allow animation for generating code
                    $('#generated-code').fadeOut('fast');
                    document.getElementById("generated-code").innerHTML = generatedCode;
                    $('#generated-code').fadeIn('fast');
                    Prism.highlightElement(document.getElementById("generated-code"));
                }
            });

            // new button function
            $("#topbar-new").click(function(e) {
              e.preventDefault();
              if (confirm("Your current canvas will be lost without saving!")) {
                txt = "";
                diagram.clear();
              } else {
                txt = "";
              }
            });

            // export button function
            $("#topbar-export").click(function (e) {
                e.preventDefault();
                makeBlob();
              });
            
            // export button function
            $("#topbar-help").click(function (e) {
                e.preventDefault();
                var str = "Common operations：";
                str = str + "\n Add a layer: click on a shape and enter relevant parameters";
                str = str + "\n Delete a layer: click on a shape and press DELETE key";
                alert(str);
              });
        </script>
        
        <!-- Canvas Initialization Script -->
        <script>
            window.onload = function() {
                init()
            };
        </script>

    </body>
</html>
