<!DOCTYPE html>
<html>
    
    <head>
        {% load static %}
        <!-- Bootstrap core CSS -->
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static "canvas/css/simple-sidebar.css" %}" rel="stylesheet">
        <!-- Custom styles for this view -->
        <link href="{% static "canvas/css/canvas.css" %}" rel="stylesheet">
        <link href="{% static "canvas/css/prism.css" %}" rel="stylesheet">
        <link href="{% static "canvas/css/code.css" %}" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="{%static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet"> 
        <link href="{%static "https://fonts.googleapis.com/css?family=Varela+Round"  %}" rel="stylesheet">
        <link href="{%static "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" %}" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <!-- GoJS core JavaScript -->
        <script src="{% static "canvas/js/go-debug.js" %}"></script>
        <!-- Custom scripts for this view -->
        <script src="{% static "canvas/js/canvas.js" %}"></script>
        <script src="{% static "canvas/js/prism.js" %}"></script>
    </head>
    
    <body>
        
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="#">LrnDeep</a></li>
                    <li><a href="#">New</a></li>
                    <li><a href="#">Open</a></li>
                    <li><a href="#">Save</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        
                        <!-- canvas wrapper -->
                        <div id="canvas-wrapper" class="col-md-8">
                            
                            <!-- topbar -->
                            <div id="topbar-wrapper">
                                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
                                <a href="" class="btn btn-secondary" id="menu-toggle">Compile</a>
<!--                                <a href="" class="btn btn-secondary" id="menu-toggle">Save</a>-->
                            </div>
                            
                            <!-- canvas -->
                            <div id="canvas">
                                <div id="canvas-diagram" class="canvas-section" style="height: 150px; background-color: #DAE4E4;"></div>
                                <div id="canvas-warehouse" class="canvas-section" style="height: 150px; background-color: #DAE4E4;"></div>
                                <div id="canvas-palette" class="canvas-section" style="height: 150px; background-color: #DAE4E4;"></div>
                            </div>
                            
                        </div>
                        <!-- /#canvas-wrapper -->
                        
                        <!-- code-wrapper -->
                        <div id="code-wrapper" class="col-md-4">
                            <pre><code id="generated-code" class="language-python"># This is the code display:
x = 0
for i in range(100):
    x += i
print(x)</code></pre>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
            
        </div>
        <!-- /#wrapper -->
    
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        <!-- Canvas Initialization Script -->
        <script>
            window.onload = function() {
                init()
            };
        </script>
        
    </body>
    
</html>