<!DOCTYPE html>
<html lang="en">

	<head>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title>Log In</title>
		
		{% load static %}
		<!-- Bootstrap core CSS -->
		<link href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{% static 'users/css/users.css' %}" rel="stylesheet">		

		<!-- Custom fonts for this template -->
		<link href="{% static 'users/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet">

		<!-- Bootstrap core JavaScript -->
		<script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<head>

	<body>
	  <div class="container">
		<div class="row">
		  <div class="col-lg-10 col-xl-9 mx-auto">
			<div class="card card-signin flex-row my-5">
			  <div class="card-img-left d-none d-md-flex">
				 <!-- Background image for card set in CSS! -->
			  </div>
			  <div class="card-body">
				<h5 class="card-title text-center">Log in</h5>
				<form class="form-signin" method="post" action={% url 'users:login' %}>
					{% csrf_token %}
				  <div class="form-label-group">
					<input type="text" name="username" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
					<label for="inputUserame">Username</label>
				  </div>

				  <div class="form-label-group">
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Email address" required>
					<label for="inputPassword">Password</label>
				  </div>
								
				  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
	<!-- 
				  <hr>

				  <div class="form-label-group">
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
					<label for="inputPassword">Password</label>
				  </div>
				  
				  <div class="form-label-group">
					<input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
					<label for="inputConfirmPassword">Confirm password</label>
				  </div>

				  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
				  <a class="d-block text-center mt-2 small" href="#">Sign In</a>
				  <hr class="my-4">
				  <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
				  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
																-->
						
				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</body>
</html>
